.about {
  text-align: center;
  padding: 10px 0;
  background-color: var(--background-black-color);
}
@media screen and (min-width: 768px) {
  .about {
    padding: 20px 0;
  }
}
@media screen and (min-width: 1440px) {
  .about {
    padding: 30px 0;
  }
}

.aboutWrap {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* gap: 50px; */
}
@media screen and (min-width: 768px) {
  .aboutWrap {
    flex-direction: initial;
    justify-content: center;
    gap: 50px;
  }
}

.aboutWrapImage {
  display: none;
}
@media screen and (min-width: 768px) {
  .aboutWrapImage {
    display: block;
  }
}

.aboutWrapBox {
  
}
@media screen and (min-width: 768px) {
  .aboutWrapBox {
    width: 430px;
  }
}
@media screen and (min-width: 1440px) {
  .aboutWrapBox {
    width: 497px;
  }
}

.aboutWrapBoxTitle {
  font-family: var(--PermanentMarker);
  font-size: 36px;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 20px;
  color: var(--color-yellow);
}

.aboutWrapBoxItem {
  font-family: var(--Poppins);
  line-height: normal;
  text-align: left;
  color: var(--color-white);
}
