.backdrop {
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
transform: scale(0);
}

.modalActive{
  transform: scale(1);
}

.modal {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: 609px;
  padding: 40px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modalButton {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  cursor: pointer;
  background-color: var(--color-white);
}
.modalButton:hover,
.modalButton:focus {
  fill: var(--color-yellow);
  stroke: none;
  box-shadow: none;
}
